.images {
  height: 100px;
}
.film-library {
  display: flex;
}
.film-details {
  height: 500px;
  width: 500px;
  padding-right: 500px;
}
.film-list {
  flex: 1;
  overflow: scroll;
  height: 500px;
}

.screenshot_url {
  height: 600px;
  width: 700px;
}

.description {
  width: 500px;
}
